@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #3364d5;
}

/* form */
.form-contianer {
  width: 1000px;
}
.title, 
.slogan {
  text-align: center;
}
.btn {
  width: 100%;
}
/* image */
.auth-image{
  width: 100%;
  border-radius: 8px;
}

/* alert */
.alert {
  margin-bottom: 1.5rem;
}

/* profile */
.profile-card {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 450px;
  z-index: 1000;
}
.avatar {
  margin-bottom: 1rem;
}
.username {
  text-transform: capitalize;
}
.profile-btn {
  margin-top: 1.3rem;
  width: 100%;
}

/* map */
.yandex-map {
  position: absolute;
  top: 10px;
  left: 10px; /* Карта будет начинаться с левого верхнего угла */
  z-index: 500; /* Карта будет находиться под профилем */
  width: 1000px; /* Ширина карты */
  height: 800px; /* Высота карты */
}
.image-map {
  width: 134px;
  height: 158px;  
}
/* allergen */
.allergen-card {
  margin-top: 20px; /* Отступ сверху внутри profile-card */
  width: 100%; /* Заполняет всю ширину внутри profile-card */
  background-color: #f5f5f5; /* Светло-серый фон */
  padding: 10px;
  border-radius: 8px;
}